In [13]:
import pandas as pd
import pysal as ps
from shapely.geometry import Point, mapping
from fiona import collection
import numpy as np

import os
#os.chdir('/Users/Makosak/code/PythonNotebooks/')

In [7]:
ls data

FedBanks_DDSetup.csv  stco.prj*             stco.shp.xml*
stco.dbf*             stco.shp*             stco.shx*

In [10]:
# open csv file and read
pd.read_csv('/Users/Masia/Code/PythonNotebooks/data/FedBanks_DDSetup.csv', index_col=0)

,Shape *,NAME00,FedDist,TREATd,POSTd,CountyID,BnkAll20,BnkAll21,BnkAll22,BnkAll23,...,BnkAll27,BnkAll28,BnkAll29,BnkAll30,BnkAll31,BnkAll32,BnkAll33,BnkAll34,BnkAll35,BnkAll36
FID,,,,,,,,,,,,,,,,,,,,,
0,Polygon,Newton,6,1,2,28101,6,6,6,6,...,6,6,6,2,2,2,2,2,2,2
1,Polygon,Coahoma,8,0,5,28027,8,7,7,7,...,6,6,6,3,5,5,5,5,5,5
2,Polygon,Union,8,0,3,28145,4,4,3,3,...,3,3,3,2,3,3,3,3,3,3
3,Polygon,Pontotoc,8,0,4,28115,5,4,4,4,...,4,4,4,3,3,4,4,4,4,4
4,Polygon,Lowndes,8,0,5,28087,6,6,6,6,...,6,6,6,5,5,5,5,5,5,5
5,Polygon,Hinds,6,1,8,28049,14,14,14,14,...,14,14,14,14,11,10,8,8,8,8
6,Polygon,Copiah,6,1,5,28029,5,5,6,6,...,6,5,5,5,4,5,5,5,5,5
7,Polygon,Claiborne,6,1,2,28021,3,3,3,3,...,2,2,2,2,2,2,2,2,2,2
8,Polygon,Issaquena,6,1,0,28055,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Polygon,Sharkey,6,1,1,28125,2,2,2,2,...,2,2,2,2,2,2,1,1,1,1
10,Polygon,Warren,6,1,2,28149,7,7,7,7,...,7,6,3,2,2,2,2,2,2,2
11,Polygon,Lauderdale,6,1,3,28075,6,6,6,6,...,6,5,5,5,5,5,3,3,3,3
12,Polygon,Clarke,6,1,3,28023,3,4,4,4,...,5,5,4,3,3,3,3,3,3,3
13,Polygon,Walthall,6,1,1,28147,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1
14,Polygon,Benton,8,0,1,28009,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1
15,Polygon,Bolivar,8,0,5,28011,17,15,15,15,...,11,11,10,7,5,5,5,5,5,5
16,Polygon,Calhoun,8,0,2,28013,2,3,3,3,...,3,4,4,3,3,3,2,2,2,2
17,Polygon,Lawrence,6,1,2,28077,4,4,4,3,...,3,3,3,3,1,2,2,2,2,2
18,Polygon,Hancock,6,1,2,28045,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
19,Polygon,Attala,8,0,1,28007,6,6,6,6,...,7,6,6,2,3,3,2,2,1,1
20,Polygon,Marshall,8,0,5,28093,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
21,Polygon,DeSoto,8,0,2,28033,4,4,4,4,...,3,3,3,3,2,2,2,2,2,2
22,Polygon,Grenada,8,0,2,28043,4,4,3,3,...,3,3,3,3,3,3,3,3,3,2
23,Polygon,Alcorn,8,0,2,28003,3,3,2,3,...,3,3,3,1,0,2,2,2,2,2
24,Polygon,Clay,8,0,2,28025,5,5,4,4,...,4,4,4,3,2,2,2,2,2,2
25,Polygon,Oktibbeha,8,0,3,28105,5,5,5,5,...,5,5,5,5,5,4,4,4,4,3
26,Polygon,Jackson,6,1,3,28059,4,4,4,4,...,4,4,4,4,3,4,3,3,3,3
27,Polygon,Harrison,6,1,2,28047,5,5,5,6,...,6,6,5,4,2,2,2,2,2,2
28,Polygon,George,6,1,1,28039,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
29,Polygon,Monroe,8,0,4,28095,6,6,5,5,...,5,5,6,5,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,Polygon,Wilkinson,6,1,2,28157,2,2,1,1,...,2,2,2,2,2,2,2,2,2,2
53,Polygon,Adams,6,1,2,28001,4,4,4,4,...,4,4,2,2,2,2,2,2,2,2
54,Polygon,Perry,6,1,2,28111,2,2,2,2,...,2,2,2,2,1,2,2,2,2,2
55,Polygon,Forrest,6,1,2,28035,3,3,3,3,...,3,3,3,3,2,2,2,2,2,2
56,Polygon,Panola,8,0,5,28107,9,9,8,8,...,7,7,7,7,7,7,6,5,5,5
57,Polygon,Quitman,8,0,2,28119,5,5,4,4,...,4,4,4,4,2,2,2,2,2,2
58,Polygon,Pike,6,1,5,28113,6,8,8,8,...,7,7,7,5,6,6,5,5,5,5
59,Polygon,Neshoba,6,1,2,28099,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
60,Polygon,Leake,6,1,4,28079,2,2,2,3,...,4,4,4,1,3,3,3,4,4,4
61,Polygon,Simpson,6,1,2,28127,4,4,4,5,...,5,5,4,3,2,2,2,2,2,2
62,Polygon,Kemper,6,1,1,28069,3,3,3,3,...,3,2,1,2,2,2,2,1,1,1
63,Polygon,Noxubee,8,0,3,28103,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
64,Polygon,Yalobusha,8,0,3,28161,4,4,4,4,...,5,5,5,5,5,4,3,3,3,3
65,Polygon,Chickasaw,8,0,3,28017,6,6,7,7,...,6,5,5,4,4,4,3,4,3,3
66,Polygon,Jones,6,1,3,28067,4,4,4,4,...,4,4,3,3,3,3,3,3,3,3
67,Polygon,Tallahatchie,8,0,2,28135,7,7,5,5,...,4,3,3,2,2,2,1,2,2,2
68,Polygon,Winston,8,0,0,28159,1,1,1,1,...,1,1,1,1,0,0,0,0,0,0
69,Polygon,Tate,8,0,3,28137,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
70,Polygon,Madison,6,1,3,28089,5,5,5,5,...,5,5,5,4,3,3,3,3,3,3
71,Polygon,Yazoo,6,1,2,28163,3,3,3,3,...,3,3,3,2,1,2,2,2,2,2
72,Polygon,Humphreys,8,0,1,28053,2,2,2,2,...,2,2,1,1,1,1,1,1,1,1
73,Polygon,Carroll,8,0,1,28015,3,2,2,3,...,3,3,3,2,3,3,2,1,1,1
74,Polygon,Lincoln,6,1,2,28085,3,3,3,3,...,3,3,3,3,2,1,1,1,1,2
75,Polygon,Greene,6,1,2,28041,3,3,3,3,...,3,3,3,1,2,1,2,2,2,2
76,Polygon,Webster,8,0,2,28155,3,3,3,3,...,2,2,2,2,2,2,2,2,2,2
77,Polygon,Choctaw,8,0,0,28019,2,2,2,2,...,1,1,1,1,1,1,0,0,0,0
78,Polygon,Washington,8,0,5,28151,9,9,9,9,...,8,8,8,8,8,8,7,6,6,5
79,Polygon,Sunflower,8,0,7,28133,10,10,10,10,...,10,9,9,8,6,7,7,7,7,7
80,Polygon,Stone,6,1,1,28131,2,2,2,2,...,2,2,2,1,1,1,1,1,1,1
81,Polygon,Jefferson Davis,6,1,1,28065,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1

In [39]:
# Open county shapefile and database.
shp_link = '/Users/Masia/Code/PythonNotebooks/data/stco.shp'
dbf = ps.open('/Users/Masia/Code/PythonNotebooks/data/stco.dbf')

In [40]:
# Shapefile and data preparation.
cols = np.array([dbf.by_col(col) for col in dbf.header]).T
left = pd.DataFrame(cols)
left.columns = dbf.header
left.columns = left.columns.map(lambda x: x.lower())
left['order'] = left.index

print left

             area      perimeter stco_ stco_id county           coname  \
0   1151415199.53  156388.782467     2       1    141       Tishomingo
1   1039164913.22  136919.636815     3       2      3           Alcorn
2   1190750178.38  156054.296474     4       4    139           Tippah
3   1057912379.69  152365.361196     5       5      9           Benton
4   1285573992.64   206951.03245     6       3     33           Desoto
5   1837449738.16  218044.182139     7       6     93         Marshall
6   1238737645.62  246843.611554     8       7    143           Tunica
7   1064637997.97  199047.295018     9       8    137             Tate
8   1083135640.55  139455.411139    10       9    117         Prentiss
9   1079907887.09   145233.37593    11      10    145            Union
10   1758638405.3  194573.000061    12      12     71        Lafayette
11  1825580908.21  173935.447091    13      11    107           Panola
12   1509103404.6   255198.28876    14      13     27          Coahoma
13  1173635777.22  149716.447209    15      15     81              Lee
14  1052299663.84  154254.347921    16      14    119          Quitman
15  1399919838.87  150781.680606    17      16     57         Itawamba
16  1297076312.89  145224.762591    18      17    115         Pontotoc
17  1281309713.94  150008.557753    19      18    161        Yalobusha
18  1688341479.89  225468.010864    20      19    135     Tallahatchie
19  1522248609.01  165729.510862    21      20     13          Calhoun
20  2355904257.18  317177.745012    22      21     11          Bolivar
21  1999895244.87  203709.052702    23      22     95           Monroe
22  1305533707.11  161845.015827    24      23     17        Chickasaw
23  1830041885.59  217129.858932    25      24    133        Sunflower
24  1163679822.84  165687.390318    26      25     43          Grenada
25  1077216148.47  188745.005577    27      27     25             Clay
26  1570102849.58  248740.132987    28      26     83          Leflore
27  1338800960.01   202792.17099    29      28     87          Lowndes
28  1096781227.04  161157.781124    30      29    155          Webster
29  1055862370.49  171004.994374    31      31     97       Montgomery
..            ...            ...   ...     ...    ...              ...
55  1649695113.72  173512.013569    57      56    129            Smith
56   2018283882.1  213691.023223    58      57     29           Copiah
57  1529558876.91  191945.730217    59      58    127          Simpson
58  2106769248.76  186740.373767    60      59    153            Wayne
59  1367051795.27  201083.326356    61      60     63        Jefferson
60  1811880714.42  170396.473665    62      61     67            Jones
61  1074066735.66  151674.681969    63      62     31        Covington
62  1059678272.44  163980.173547    64      63     65  Jefferson_Davis
63  1128143693.63  148613.836355    65      65     77         Lawrence
64   1258218998.0  293817.476884    66      64      1            Adams
65  1523173968.56  177358.598567    67      66     85          Lincoln
66  1466191344.48  168065.831864    68      67     37         Franklin
67  1861778259.98  174427.252255    69      68     41           Greene
68  1683698828.18  175932.016171    70      69    111            Perry
69  1217860461.26  176201.054891    71      70     35          Forrest
70  1295659049.22  160845.096692    72      73     73            Lamar
71   1420027276.8  171836.547799    73      71     91           Marion
72  1781882725.83  218011.872975    74      74    157        Wilkinson
73   1895185995.1  185179.424035    75      75      5            Amite
74  1062634455.98  132347.354679    76      76    113             Pike
75  1047563776.07   159865.36047    77      77    147         Walthall
76  2119556969.64  285463.502807    78      78    109      Pearl_River
77  1252155171.23  147430.887194    79      79     39           George
78  1160027891.34  145523.974225    80      80    131            Stone
79   1906208446.0   241696.86244    81      81     59          Jackson
80  1496170371.37  245839.436782    82      82     47         Harrison
81  1252429850.84   191807.53885    83      83     45          Hancock
82  1033400957.21  251040.385165    84      85      0
83  794913828.003  211598.145024    85      86      0
84  178265586.295  100075.286874    86      84      0

                       co_seat total90 white90 black90  ...  amitotbpl  \
0                         Iuka   17683   17010     631  ...         23
1                      Corinth   31722   28085    3540  ...         10
2                       Ripley   19523   16251    3233  ...         47
3                      Ashland    8046    4869    3168  ...          4
4                     Hernando   67910   58860    8675  ...         35
5                Holly Springs   30361   14842   15378  ...          7
6                       Tunica    8164    1992    6148  ...          5
7                    Senatobia   21432   13945    7417  ...          2
8                   Booneville   23278   20477    2741  ...         12
9                   New Albany   22085   18804    3213  ...          0
10                      Oxford   31826   23151    7980  ...         18
11         Batesville & Sardis   29996   15376   14533  ...         24
12                  Clarksdale   31665   11001   20454  ...          6
13                      Tupelo   65581   51260   14049  ...         29
14                       Marks   10490    4250    6193  ...          2
15                      Fulton   20017   18596    1359  ...          0
16                    Pontotoc   22237   18917    3246  ...          0
17  Coffeeville & Water Valley   12033    7479    4526  ...          7
18         Charleston & Sumner   15210    6257    8881  ...          5
19                   Pittsboro   14908   10829    4027  ...         13
20        Cleveland & Rosedale   41875   15259   26326  ...          6
21                    Aberdeen   36582   25394   11097  ...          8
22           Houston & Okolona   18085   11060    6981  ...          0
23                   Indianola   32867   11604   21092  ...         53
24                     Grenada   21555   12563    8916  ...         43
25                  West Point   21120    9789   11266  ...          5
26                   Greenwood   37341   14516   22642  ...         17
27                    Columbus   59308   36736   22041  ...         45
28                    Walthall   10222    7953    2254  ...          0
29                      Winona   12388    6916    5440  ...          0
..                         ...     ...     ...     ...  ...        ...
55                     Raleigh   14798   11516    3244  ...          1
56                  Hazlehurst   27592   13602   13920  ...         26
57                  Mendenhall   23953   16124    7737  ...          0
58                  Waynesboro   19517   12506    6957  ...          0
59                     Fayette    8653    1185    7462  ...          0
60         Laurel & Ellisville   62031   46193   15489  ...         61
61                     Collins   16527   10699    5795  ...          5
62                    Prentiss   14051    6330    7675  ...         23
63                  Monticello   12458    8300    4132  ...          7
64                     Natchez   35356   18028   17212  ...          0
65                  Brookhaven   30278   21162    9038  ...         26
66                   Meadville    8377    5290    3079  ...         27
67                 Leakesville   10220    7999    2194  ...         14
68                 New Augusta   10865    8333    2447  ...         23
69                 Hattiesburg   68314   46672   21001  ...         42
70                      Purvis   30424   26599    3637  ...         10
71                    Columbia   25544   17733    7721  ...          0
72                   Woodville    9678    3123    6532  ...         10
73                     Liberty   13328    7272    6038  ...          3
74                    Magnolia   36882   19931   16843  ...         23
75                   Tylertown   14352    8252    6054  ...          5
76                 Poplarville   38714   32888    5545  ...         77
77                    Lucedale   16673   15025    1587  ...          0
78                     Wiggins   10750    8362    2344  ...          8
79                  Pascagoula  115243   90114   23581  ...        174
80           Gulfport & Biloxi  165365  127630   32281  ...        183
81               Bay St. Louis   31760   28625    2774  ...         82
82                                   0       0       0  ...          0
83                                   0       0       0  ...          0
84                                   0       0       0  ...          0

   asitotbpl hawtotbpl oratotbpl omrtotbpl hsptotbpl medysb medrent  medown  \
0          0         0        34         9        64   1975     252   54900
1         12         0        79        86       109   1974     255   58700
2          0         0       119        52       228   1976     241   53900
3          0         0        24         2        56   1975     264   50700
4         39         0       144       119       318   1989     564  101200
5          5         0        19        50        86   1979     265   60200
6          0         0         9         6        37   1980     349   50800
7          9         0        49        27        51   1979     304   73800
8          5         0         0         7        38   1974     234   53400
9         18         0        87        34       148   1976     289   61800
10        78         0        22        76       169   1982     403   83900
11         3         0         5        53       106   1978     286   48400
12       114         0        20        11        70   1969     254   48200
13        17        24        71       234       186   1978     354   79100
14         0         0         5        26        18   1969     183   34700
15         7         0        14        11        26   1976     283   55300
16         0         0        53        24       129   1978     289   59800
17         0         0         4         0        33   1976     201   47700
18         0         0         0        25        36   1975     178   37600
19         0         0        56        21       111   1975     217   46500
20         2         0       119        46       236   1973     269   51300
21         0         6        19         8       100   1974     259   59400
22         0         0        50        24       130   1975     247   46800
23         0         0        60        46       148   1973     247   49100
24        16         0        18        42        23   1974     273   64000
25         0         0        39        33       109   1975     276   58000
26        16         0       179        31       244   1971     217   52700
27         7         0        38       169        77   1976     309   71400
28         7         0         9         8        15   1974     221   52600
29         0         0        25        36        69   1970     229   48600
..       ...       ...       ...       ...       ...    ...     ...     ...
55         0         2         0        31        55   1977     236   54000
56         0         0        47        41        60   1974     247   52300
57         0         0        82        51        98   1977     275   51900
58         0         0         0        11        14   1978     231   42900
59         0         0         0         1        10   1978     168   41900
60        27         0       629        41       740   1973     274   54000
61         0         0         0        59        58   1979     235   49800
62         0         0         3        33        30   1976     220   45100
63         8         0         0        18        13   1977     248   51300
64       133         0        22        14        53   1969     254   57900
65         0         0         7        70        39   1975     270   57400
66         0         0        18        14        37   1975     191   44300
67         3         0         0        19        19   1977     250   49700
68        16         0         5         6        17   1980     216   46900
69       362         0       137       160       251   1973     364   64800
70        24         0        30        63        88   1984     425   86000
71         0         0        18        23        55   1974     241   52800
72         0         0         0         7        41   1979     135   39700
73         1         0        11        39        33   1975     203   51200
74        27         0         5        34       111   1973     284   53400
75         1         0         2        10        14   1976     229   57200
76         7         0        39       138       194   1980     317   70200
77        10         0        40         5        68   1979     324   60100
78         0         0        22        24        62   1978     309   69900
79       190         0       274       189       596   1974     425   75400
80       995        15       267       490       707   1975     456   82000
81        38         0         8       138       160   1979     417   82100
82         0         0         0         0         0      0       0       0
83         0         0         0         0         0      0       0       0
84         0         0         0         0         0      0       0       0

   order
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
..   ...
55    55
56    56
57    57
58    58
59    59
60    60
61    61
62    62
63    63
64    64
65    65
66    66
67    67
68    68
69    69
70    70
71    71
72    72
73    73
74    74
75    75
76    76
77    77
78    78
79    79
80    80
81    81
82    82
83    83
84    84

[85 rows x 109 columns]

In [41]:
# Initialize data from CSV file.
right = pd.read_csv('/Users/Masia/Code/PythonNotebooks/data/FedBanks_DDSetup.csv', dtype=object)

print right

   FID  Shape *           NAME00 FedDist TREATd POSTd CountyID BnkAll20  \
0    0  Polygon           Newton       6      1     2    28101        6
1    1  Polygon          Coahoma       8      0     5    28027        8
2    2  Polygon            Union       8      0     3    28145        4
3    3  Polygon         Pontotoc       8      0     4    28115        5
4    4  Polygon          Lowndes       8      0     5    28087        6
5    5  Polygon            Hinds       6      1     8    28049       14
6    6  Polygon           Copiah       6      1     5    28029        5
7    7  Polygon        Claiborne       6      1     2    28021        3
8    8  Polygon        Issaquena       6      1     0    28055        0
9    9  Polygon          Sharkey       6      1     1    28125        2
10  10  Polygon           Warren       6      1     2    28149        7
11  11  Polygon       Lauderdale       6      1     3    28075        6
12  12  Polygon           Clarke       6      1     3    28023        3
13  13  Polygon         Walthall       6      1     1    28147        2
14  14  Polygon           Benton       8      0     1    28009        2
15  15  Polygon          Bolivar       8      0     5    28011       17
16  16  Polygon          Calhoun       8      0     2    28013        2
17  17  Polygon         Lawrence       6      1     2    28077        4
18  18  Polygon          Hancock       6      1     2    28045        2
19  19  Polygon           Attala       8      0     1    28007        6
20  20  Polygon         Marshall       8      0     5    28093        5
21  21  Polygon           DeSoto       8      0     2    28033        4
22  22  Polygon          Grenada       8      0     2    28043        4
23  23  Polygon           Alcorn       8      0     2    28003        3
24  24  Polygon             Clay       8      0     2    28025        5
25  25  Polygon        Oktibbeha       8      0     3    28105        5
26  26  Polygon          Jackson       6      1     3    28059        4
27  27  Polygon         Harrison       6      1     2    28047        5
28  28  Polygon           George       6      1     1    28039        1
29  29  Polygon           Monroe       8      0     4    28095        6
..  ..      ...              ...     ...    ...   ...      ...      ...
52  52  Polygon        Wilkinson       6      1     2    28157        2
53  53  Polygon            Adams       6      1     2    28001        4
54  54  Polygon            Perry       6      1     2    28111        2
55  55  Polygon          Forrest       6      1     2    28035        3
56  56  Polygon           Panola       8      0     5    28107        9
57  57  Polygon          Quitman       8      0     2    28119        5
58  58  Polygon             Pike       6      1     5    28113        6
59  59  Polygon          Neshoba       6      1     2    28099        2
60  60  Polygon            Leake       6      1     4    28079        2
61  61  Polygon          Simpson       6      1     2    28127        4
62  62  Polygon           Kemper       6      1     1    28069        3
63  63  Polygon          Noxubee       8      0     3    28103        3
64  64  Polygon        Yalobusha       8      0     3    28161        4
65  65  Polygon        Chickasaw       8      0     3    28017        6
66  66  Polygon            Jones       6      1     3    28067        4
67  67  Polygon     Tallahatchie       8      0     2    28135        7
68  68  Polygon          Winston       8      0     0    28159        1
69  69  Polygon             Tate       8      0     3    28137        3
70  70  Polygon          Madison       6      1     3    28089        5
71  71  Polygon            Yazoo       6      1     2    28163        3
72  72  Polygon        Humphreys       8      0     1    28053        2
73  73  Polygon          Carroll       8      0     1    28015        3
74  74  Polygon          Lincoln       6      1     2    28085        3
75  75  Polygon           Greene       6      1     2    28041        3
76  76  Polygon          Webster       8      0     2    28155        3
77  77  Polygon          Choctaw       8      0     0    28019        2
78  78  Polygon       Washington       8      0     5    28151        9
79  79  Polygon        Sunflower       8      0     7    28133       10
80  80  Polygon            Stone       6      1     1    28131        2
81  81  Polygon  Jefferson Davis       6      1     1    28065        1

   BnkAll21 BnkAll22   ...    BnkAll27 BnkAll28 BnkAll29 BnkAll30 BnkAll31  \
0         6        6   ...           6        6        6        2        2
1         7        7   ...           6        6        6        3        5
2         4        3   ...           3        3        3        2        3
3         4        4   ...           4        4        4        3        3
4         6        6   ...           6        6        6        5        5
5        14       14   ...          14       14       14       14       11
6         5        6   ...           6        5        5        5        4
7         3        3   ...           2        2        2        2        2
8         0        0   ...           0        0        0        0        0
9         2        2   ...           2        2        2        2        2
10        7        7   ...           7        6        3        2        2
11        6        6   ...           6        5        5        5        5
12        4        4   ...           5        5        4        3        3
13        2        2   ...           2        2        2        1        1
14        2        2   ...           2        2        2        1        1
15       15       15   ...          11       11       10        7        5
16        3        3   ...           3        4        4        3        3
17        4        4   ...           3        3        3        3        1
18        2        2   ...           2        2        2        2        2
19        6        6   ...           7        6        6        2        3
20        5        5   ...           5        5        5        5        5
21        4        4   ...           3        3        3        3        2
22        4        3   ...           3        3        3        3        3
23        3        2   ...           3        3        3        1        0
24        5        4   ...           4        4        4        3        2
25        5        5   ...           5        5        5        5        5
26        4        4   ...           4        4        4        4        3
27        5        5   ...           6        6        5        4        2
28        1        1   ...           1        1        1        1        1
29        6        5   ...           5        5        6        5        4
..      ...      ...   ...         ...      ...      ...      ...      ...
52        2        1   ...           2        2        2        2        2
53        4        4   ...           4        4        2        2        2
54        2        2   ...           2        2        2        2        1
55        3        3   ...           3        3        3        3        2
56        9        8   ...           7        7        7        7        7
57        5        4   ...           4        4        4        4        2
58        8        8   ...           7        7        7        5        6
59        2        2   ...           2        2        2        2        2
60        2        2   ...           4        4        4        1        3
61        4        4   ...           5        5        4        3        2
62        3        3   ...           3        2        1        2        2
63        3        3   ...           3        3        3        3        3
64        4        4   ...           5        5        5        5        5
65        6        7   ...           6        5        5        4        4
66        4        4   ...           4        4        3        3        3
67        7        5   ...           4        3        3        2        2
68        1        1   ...           1        1        1        1        0
69        3        3   ...           3        3        3        3        3
70        5        5   ...           5        5        5        4        3
71        3        3   ...           3        3        3        2        1
72        2        2   ...           2        2        1        1        1
73        2        2   ...           3        3        3        2        3
74        3        3   ...           3        3        3        3        2
75        3        3   ...           3        3        3        1        2
76        3        3   ...           2        2        2        2        2
77        2        2   ...           1        1        1        1        1
78        9        9   ...           8        8        8        8        8
79       10       10   ...          10        9        9        8        6
80        2        2   ...           2        2        2        1        1
81        1        1   ...           1        1        1        1        0

   BnkAll32 BnkAll33 BnkAll34 BnkAll35 BnkAll36
0         2        2        2        2        2
1         5        5        5        5        5
2         3        3        3        3        3
3         4        4        4        4        4
4         5        5        5        5        5
5        10        8        8        8        8
6         5        5        5        5        5
7         2        2        2        2        2
8         0        0        0        0        0
9         2        1        1        1        1
10        2        2        2        2        2
11        5        3        3        3        3
12        3        3        3        3        3
13        1        1        1        1        1
14        1        1        1        1        1
15        5        5        5        5        5
16        3        2        2        2        2
17        2        2        2        2        2
18        2        2        2        2        2
19        3        2        2        1        1
20        5        5        5        5        5
21        2        2        2        2        2
22        3        3        3        3        2
23        2        2        2        2        2
24        2        2        2        2        2
25        4        4        4        4        3
26        4        3        3        3        3
27        2        2        2        2        2
28        1        1        1        1        1
29        4        4        4        4        4
..      ...      ...      ...      ...      ...
52        2        2        2        2        2
53        2        2        2        2        2
54        2        2        2        2        2
55        2        2        2        2        2
56        7        6        5        5        5
57        2        2        2        2        2
58        6        5        5        5        5
59        2        2        2        2        2
60        3        3        4        4        4
61        2        2        2        2        2
62        2        2        1        1        1
63        3        3        3        3        3
64        4        3        3        3        3
65        4        3        4        3        3
66        3        3        3        3        3
67        2        1        2        2        2
68        0        0        0        0        0
69        3        3        3        3        3
70        3        3        3        3        3
71        2        2        2        2        2
72        1        1        1        1        1
73        3        2        1        1        1
74        1        1        1        1        2
75        1        2        2        2        2
76        2        2        2        2        2
77        1        0        0        0        0
78        8        7        6        6        5
79        7        7        7        7        7
80        1        1        1        1        1
81        1        1        1        1        1

[82 rows x 24 columns]

In [43]:
result = left.join(right, how='inner')

print result

             area      perimeter stco_ stco_id county           coname  \
0   1151415199.53  156388.782467     2       1    141       Tishomingo
1   1039164913.22  136919.636815     3       2      3           Alcorn
2   1190750178.38  156054.296474     4       4    139           Tippah
3   1057912379.69  152365.361196     5       5      9           Benton
4   1285573992.64   206951.03245     6       3     33           Desoto
5   1837449738.16  218044.182139     7       6     93         Marshall
6   1238737645.62  246843.611554     8       7    143           Tunica
7   1064637997.97  199047.295018     9       8    137             Tate
8   1083135640.55  139455.411139    10       9    117         Prentiss
9   1079907887.09   145233.37593    11      10    145            Union
10   1758638405.3  194573.000061    12      12     71        Lafayette
11  1825580908.21  173935.447091    13      11    107           Panola
12   1509103404.6   255198.28876    14      13     27          Coahoma
13  1173635777.22  149716.447209    15      15     81              Lee
14  1052299663.84  154254.347921    16      14    119          Quitman
15  1399919838.87  150781.680606    17      16     57         Itawamba
16  1297076312.89  145224.762591    18      17    115         Pontotoc
17  1281309713.94  150008.557753    19      18    161        Yalobusha
18  1688341479.89  225468.010864    20      19    135     Tallahatchie
19  1522248609.01  165729.510862    21      20     13          Calhoun
20  2355904257.18  317177.745012    22      21     11          Bolivar
21  1999895244.87  203709.052702    23      22     95           Monroe
22  1305533707.11  161845.015827    24      23     17        Chickasaw
23  1830041885.59  217129.858932    25      24    133        Sunflower
24  1163679822.84  165687.390318    26      25     43          Grenada
25  1077216148.47  188745.005577    27      27     25             Clay
26  1570102849.58  248740.132987    28      26     83          Leflore
27  1338800960.01   202792.17099    29      28     87          Lowndes
28  1096781227.04  161157.781124    30      29    155          Webster
29  1055862370.49  171004.994374    31      31     97       Montgomery
..            ...            ...   ...     ...    ...              ...
52  1796106537.01   169006.68349    54      53     23           Clarke
53  1296028905.21   249675.64513    55      54     21        Claiborne
54  1754798223.06  168255.276735    56      55     61           Jasper
55  1649695113.72  173512.013569    57      56    129            Smith
56   2018283882.1  213691.023223    58      57     29           Copiah
57  1529558876.91  191945.730217    59      58    127          Simpson
58  2106769248.76  186740.373767    60      59    153            Wayne
59  1367051795.27  201083.326356    61      60     63        Jefferson
60  1811880714.42  170396.473665    62      61     67            Jones
61  1074066735.66  151674.681969    63      62     31        Covington
62  1059678272.44  163980.173547    64      63     65  Jefferson_Davis
63  1128143693.63  148613.836355    65      65     77         Lawrence
64   1258218998.0  293817.476884    66      64      1            Adams
65  1523173968.56  177358.598567    67      66     85          Lincoln
66  1466191344.48  168065.831864    68      67     37         Franklin
67  1861778259.98  174427.252255    69      68     41           Greene
68  1683698828.18  175932.016171    70      69    111            Perry
69  1217860461.26  176201.054891    71      70     35          Forrest
70  1295659049.22  160845.096692    72      73     73            Lamar
71   1420027276.8  171836.547799    73      71     91           Marion
72  1781882725.83  218011.872975    74      74    157        Wilkinson
73   1895185995.1  185179.424035    75      75      5            Amite
74  1062634455.98  132347.354679    76      76    113             Pike
75  1047563776.07   159865.36047    77      77    147         Walthall
76  2119556969.64  285463.502807    78      78    109      Pearl_River
77  1252155171.23  147430.887194    79      79     39           George
78  1160027891.34  145523.974225    80      80    131            Stone
79   1906208446.0   241696.86244    81      81     59          Jackson
80  1496170371.37  245839.436782    82      82     47         Harrison
81  1252429850.84   191807.53885    83      83     45          Hancock

                       co_seat total90 white90 black90   ...    BnkAll27  \
0                         Iuka   17683   17010     631   ...           6
1                      Corinth   31722   28085    3540   ...           6
2                       Ripley   19523   16251    3233   ...           3
3                      Ashland    8046    4869    3168   ...           4
4                     Hernando   67910   58860    8675   ...           6
5                Holly Springs   30361   14842   15378   ...          14
6                       Tunica    8164    1992    6148   ...           6
7                    Senatobia   21432   13945    7417   ...           2
8                   Booneville   23278   20477    2741   ...           0
9                   New Albany   22085   18804    3213   ...           2
10                      Oxford   31826   23151    7980   ...           7
11         Batesville & Sardis   29996   15376   14533   ...           6
12                  Clarksdale   31665   11001   20454   ...           5
13                      Tupelo   65581   51260   14049   ...           2
14                       Marks   10490    4250    6193   ...           2
15                      Fulton   20017   18596    1359   ...          11
16                    Pontotoc   22237   18917    3246   ...           3
17  Coffeeville & Water Valley   12033    7479    4526   ...           3
18         Charleston & Sumner   15210    6257    8881   ...           2
19                   Pittsboro   14908   10829    4027   ...           7
20        Cleveland & Rosedale   41875   15259   26326   ...           5
21                    Aberdeen   36582   25394   11097   ...           3
22           Houston & Okolona   18085   11060    6981   ...           3
23                   Indianola   32867   11604   21092   ...           3
24                     Grenada   21555   12563    8916   ...           4
25                  West Point   21120    9789   11266   ...           5
26                   Greenwood   37341   14516   22642   ...           4
27                    Columbus   59308   36736   22041   ...           6
28                    Walthall   10222    7953    2254   ...           1
29                      Winona   12388    6916    5440   ...           5
..                         ...     ...     ...     ...   ...         ...
52                     Quitman   17313   11312    5977   ...           2
53                 Port Gibson   11370    1994    9340   ...           4
54      Bay Springs & Paulding   17114    8410    8687   ...           2
55                     Raleigh   14798   11516    3244   ...           3
56                  Hazlehurst   27592   13602   13920   ...           7
57                  Mendenhall   23953   16124    7737   ...           4
58                  Waynesboro   19517   12506    6957   ...           7
59                     Fayette    8653    1185    7462   ...           2
60         Laurel & Ellisville   62031   46193   15489   ...           4
61                     Collins   16527   10699    5795   ...           5
62                    Prentiss   14051    6330    7675   ...           3
63                  Monticello   12458    8300    4132   ...           3
64                     Natchez   35356   18028   17212   ...           5
65                  Brookhaven   30278   21162    9038   ...           6
66                   Meadville    8377    5290    3079   ...           4
67                 Leakesville   10220    7999    2194   ...           4
68                 New Augusta   10865    8333    2447   ...           1
69                 Hattiesburg   68314   46672   21001   ...           3
70                      Purvis   30424   26599    3637   ...           5
71                    Columbia   25544   17733    7721   ...           3
72                   Woodville    9678    3123    6532   ...           2
73                     Liberty   13328    7272    6038   ...           3
74                    Magnolia   36882   19931   16843   ...           3
75                   Tylertown   14352    8252    6054   ...           3
76                 Poplarville   38714   32888    5545   ...           2
77                    Lucedale   16673   15025    1587   ...           1
78                     Wiggins   10750    8362    2344   ...           8
79                  Pascagoula  115243   90114   23581   ...          10
80           Gulfport & Biloxi  165365  127630   32281   ...           2
81               Bay St. Louis   31760   28625    2774   ...           1

   BnkAll28 BnkAll29 BnkAll30 BnkAll31 BnkAll32 BnkAll33 BnkAll34 BnkAll35  \
0         6        6        2        2        2        2        2        2
1         6        6        3        5        5        5        5        5
2         3        3        2        3        3        3        3        3
3         4        4        3        3        4        4        4        4
4         6        6        5        5        5        5        5        5
5        14       14       14       11       10        8        8        8
6         5        5        5        4        5        5        5        5
7         2        2        2        2        2        2        2        2
8         0        0        0        0        0        0        0        0
9         2        2        2        2        2        1        1        1
10        6        3        2        2        2        2        2        2
11        5        5        5        5        5        3        3        3
12        5        4        3        3        3        3        3        3
13        2        2        1        1        1        1        1        1
14        2        2        1        1        1        1        1        1
15       11       10        7        5        5        5        5        5
16        4        4        3        3        3        2        2        2
17        3        3        3        1        2        2        2        2
18        2        2        2        2        2        2        2        2
19        6        6        2        3        3        2        2        1
20        5        5        5        5        5        5        5        5
21        3        3        3        2        2        2        2        2
22        3        3        3        3        3        3        3        3
23        3        3        1        0        2        2        2        2
24        4        4        3        2        2        2        2        2
25        5        5        5        5        4        4        4        4
26        4        4        4        3        4        3        3        3
27        6        5        4        2        2        2        2        2
28        1        1        1        1        1        1        1        1
29        5        6        5        4        4        4        4        4
..      ...      ...      ...      ...      ...      ...      ...      ...
52        2        2        2        2        2        2        2        2
53        4        2        2        2        2        2        2        2
54        2        2        2        1        2        2        2        2
55        3        3        3        2        2        2        2        2
56        7        7        7        7        7        6        5        5
57        4        4        4        2        2        2        2        2
58        7        7        5        6        6        5        5        5
59        2        2        2        2        2        2        2        2
60        4        4        1        3        3        3        4        4
61        5        4        3        2        2        2        2        2
62        2        1        2        2        2        2        1        1
63        3        3        3        3        3        3        3        3
64        5        5        5        5        4        3        3        3
65        5        5        4        4        4        3        4        3
66        4        3        3        3        3        3        3        3
67        3        3        2        2        2        1        2        2
68        1        1        1        0        0        0        0        0
69        3        3        3        3        3        3        3        3
70        5        5        4        3        3        3        3        3
71        3        3        2        1        2        2        2        2
72        2        1        1        1        1        1        1        1
73        3        3        2        3        3        2        1        1
74        3        3        3        2        1        1        1        1
75        3        3        1        2        1        2        2        2
76        2        2        2        2        2        2        2        2
77        1        1        1        1        1        0        0        0
78        8        8        8        8        8        7        6        6
79        9        9        8        6        7        7        7        7
80        2        2        1        1        1        1        1        1
81        1        1        1        0        1        1        1        1

   BnkAll36
0         2
1         5
2         3
3         4
4         5
5         8
6         5
7         2
8         0
9         1
10        2
11        3
12        3
13        1
14        1
15        5
16        2
17        2
18        2
19        1
20        5
21        2
22        2
23        2
24        2
25        3
26        3
27        2
28        1
29        4
..      ...
52        2
53        2
54        2
55        2
56        5
57        2
58        5
59        2
60        4
61        2
62        1
63        3
64        3
65        3
66        3
67        2
68        0
69        3
70        3
71        2
72        1
73        1
74        2
75        2
76        2
77        0
78        5
79        7
80        1
81        1

[82 rows x 133 columns]

In [44]:
import geopandas
result = geopandas.GeoDataFrame(df, geometry='geometry')

result.to_file('Test.shp', driver='ESRI Shapefile')

AttributeError: 'DataFrame' object has no attribute 'to_file'

In [30]:
# Format data and merge on shapefile IDs
ordered_counties = pd.DataFrame(df.loc[:,['NAME00', 'CountyID']])
calls = pd.merge(init_calls, ordered_counties, how='right', left_on='coname', 
    right_on='CountyID', sort=False).fillna(0).sort(['order'])
calls = calls.drop(['NAME00', 'COUNTYID'],1)

class bd:
  data = calls
  w = w
  shp_link = shp_link
  id = 'tractce10'
  level = 'tract'

KeyError: "None of [['NAME00', 'CountyID']] are in the [columns]"